src
test
typings
bundled
build
coverage
docs
gulpfile.js
bower.json
karma.conf.js
tsconfig.json
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
typings.json
tslint.json
wallaby.js
.travis.yml
.gitignore
.vscode

# This will ignore:
# inversify-test.js, inversify-test.ts
# inversify-global-tests.js, inversify-global-tests.ts
type_definitions/inversify/*-test*s
