{
  "$schema": "http://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.yml"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
