{
	"$schema": "http://json.schemastore.org/prettierrc",
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"printWidth": 120,
	"overrides": [
		{
			"files": ["*.yml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
